boto3==1.35.18
botocore==1.35.18
cx_Oracle==8.3.0
greenlet==3.1.0
jmespath==1.0.1
numpy==2.1.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.2
s3transfer==0.10.2
six==1.16.0
SQLAlchemy==2.0.34
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
python-dotenv==1.0.1
requests==2.32.4
pyarrow==12.0.1
